<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="memorygame2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <memorygame2.Properties.Settings>
            <setting name="hatterkep" serializeAs="String">
                <value>peanuts/background.jpg</value>
            </setting>
            <setting name="kepKonyvtar" serializeAs="String">
                <value>peanuts/</value>
            </setting>
            <setting name="kepUtotag" serializeAs="String">
                <value>.jpg</value>
            </setting>
            <setting name="kepMeret" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="kepTavolsag" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </memorygame2.Properties.Settings>
    </userSettings>
</configuration>