<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="memory_again.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <memory_again.Properties.Settings>
            <setting name="hatterkep" serializeAs="String">
                <value>/peanuts/background.jpg</value>
            </setting>
            <setting name="konyvtar" serializeAs="String">
                <value>/peanuts</value>
            </setting>
            <setting name="kiterjesztes" serializeAs="String">
                <value>.jpg</value>
            </setting>
            <setting name="meret" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="tavolsag" serializeAs="String">
                <value>100</value>
            </setting>
        </memory_again.Properties.Settings>
    </userSettings>
</configuration>